In [ ]:
!git clone https://github.com/SIT-COMP-1210/Module2-Breakout-{YourGitHubUser}.git

**Data Types Exercise**

What is the type of 2?

In [ ]:
'''
your code here
'''

What is the type of 2.0?

In [ ]:
'''
your code here
'''

What is the resulting type of adding 2 and 2?

In [ ]:
'''
your code here
'''

What is the type of ‘Programming’ ?

In [ ]:
'''
your code here
'''

What is the resulting output when you add ‘Computer’ and ‘Programming’?

In [ ]:
'''
your code here
'''

What is the resulting output when you add ‘Programming’ and ‘Computer’?

In [ ]:
'''
your code here
'''

Is there a difference between single quotes (‘ ‘) and double quotes
(“ “)?

In [ ]:
'''
your code here
'''

What happens when you add 10 and  ‘10’? Why?

In [ ]:
'''
your code here
'''

What is the result of ‘Ethiopia’ * 3 ?

In [ ]:
'''
your code here
'''

What is the result of 10.0 * 7?

In [ ]:
'''
your code here
'''

Are ‘Programming’ and ‘programming’ equivalent?

In [ ]:
'''
your code here
'''

Are 150 and ‘150’ equivalent?

In [ ]:
'''
your code here
'''

Fix the following code so it prints ‘I am 18 years old’:
        print(‘I am’ + 18 + ‘years old’)

In [ ]:
'''
your code here
'''

Translate these statements into Pythonic expressions and  evaluate the Boolean:


*   The sum of 5 and 5 is less than 10
*   The value of 10//2 is equal to 2 + 3


*   The sum of 1, 5, 2, 4 is greater than 15
*   157 is even

*   The sum of 5 squared and 12 squared is equal to 169

In [ ]:
'''
your code here
'''

Write code to produce

*  ‘Selam4’
*  ‘SelamSelamSelamSelam’

You may only write ‘Selam’ once and 4 once for each part.

In [ ]:
'''
your code here
'''